body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;

}


.container {
    /*phone device*/
    padding-left: 16px;
    padding-right: 16px;

    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    /* width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;*/
}

@media screen and (min-width: 768px) {
    .container {
        /*tablet device*/
        max-width: 736px;


    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.list :last-child {
    margin-right: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-header {
    margin-right: 76px;
    display: inline-block;
}

.logo-span {
    color: #2e2f42;

}

.list-item-link {

    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .list-item-link:hover,
.list .list-item-link:focus {
    color: #404bbf;
}

.list-item-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    font-style: normal;
    margin-left: auto;
}

.address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link :last-child {
    margin-right: 0;
}

.list .address-list-link:hover,
.list .address-list-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;


}

.section-one-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;

}


.button {
    background-color: #4D5AE5;
    display: block;
    margin: auto;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border: 4px;
    border-radius: 4px;
    gap: 10px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.advantages-wrapper {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd
}

.section-two-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three {
    /*for all devices*/
    background-color: #F4F4FD;
}

.section-three-title {
    /*for all devices*/
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}



.employe-container {
    /*for all dvs*/
    padding: 32px 0;
}

.team-list-name {
    /*for all dvs*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.team-list-text {
    /*for all dvs*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;

}

.team-list {
    background-color: #FFFFFF;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    width: 264px;
    letter-spacing: 0.02em;
    color: #2e2f42;

    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social {
    /*for all dvs*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-item {
    /*for all dvs*/
    width: 40px;
    height: 40px;
}

.social-link {
    /*for all dvs*/
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: currentColor;
}



.section-four-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;


}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: #4D5AE5;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}


.portfolio-item {
    list-style: none;
    flex-direction: column;
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-discr {
    padding: 32px 16px;
}




.portfolio-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 76px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-title {
    margin-right: 120px;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}


.logo-span-footer {
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 17.5px;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}



.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;

}

.footer-social-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.header-container {
    display: flex;
    align-items: center;
}



.list-advantages {
    display: flex;
    gap: 24px;
}

.list-advantages-item {
    width: 264px;
    justify-content: center;
}

.list-team {
    /*for phones*/

    column-gap: 72px;
}

@media screen and (min-width: 768px; ) {
    .list-team {
        /*for tablets*/
        gap: 64px 32px;

    }
}

@media screen and (min-width: 1158px; ) {
    .list-team {
        /*for desktop*/
        gap: 32px;
        display: flex;

    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    padding: 72px 24px 24px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}



.modal-btn-icon {
    stroke: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.modal-caption {
    color: #2E2F42;
    text-align: center;

    margin-bottom: 16px;

    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-container {
    position: relative;
}

.form-field {
    position: relative;
    margin-bottom: 8px;

}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 55px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;

}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    stroke: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.form-wrapper {
    margin-bottom: 16px;
}

.user_message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 8px 16px;
    outline: transparent;
}

.user_message:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
    height: 40px;
}


.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox:checked+.user-agreement>.checkbox-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}


.form-label {
    resize: none;
}

.form-message {
    width: 100%;
    padding: 22px 24px;
    border-radius: 4px;

}

.user-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-agreement-link {
    color: #4d5ae5;
}

.send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    align-items: flex-start;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-wrapper {
    margin-left: auto;
}

.wrapper-caption {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.form-subscribe {
    display: flex;
    align-items: center;
    gap: 24px;
}



.subscribe-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-form-btn {
    color: #FFF;
    text-align: center;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background: #4D5AE5;
    line-height: 24px;
    letter-spacing: 0.64px;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.subscribe-form-icon {
    fill: white;
    margin-left: 16px;
}